#tm_builder_outer_content .tm_pb_number_counter h3 {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

#tm_builder_outer_content .tm_pb_number_counter .percent {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	letter-spacing: $h2_letter_spacing{em};
}

#tm_builder_outer_content .invert .tm_pb_number_counter h3{
	color: $invert_text_color;
}
